/* Setze allgemeine Eigenschaften für den Body */
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: black; /* Standard Hintergrundfarbe */
  background-size: cover; /* Das Bild soll den gesamten Hintergrund abdecken */
  background-position: center; /* Bild im Zentrum ausrichten */
  background-repeat: no-repeat; /* Verhindert das Wiederholen des Bildes */
}

/* Stil für das h1-Element */
h1 {
  text-align: center;
  color: #fff; /* Weißer Text für bessere Lesbarkeit */
}
